@model IEnumerable<MVC_BDBANCOS_EF.Models.usp_Listar_Cuentas_Result>

@{
    ViewBag.Title = "ListadoCuentas";
}

<h2>ListadoCuentas</h2>

<p>
    @Html.ActionLink("Nueva Cuenta", "Grabar_Cuenta")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.num_cta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cod_cta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.desc_cta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cli_codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cli_nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.num_cta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cod_cta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.desc_cta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cli_codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cli_nombre)
        </td>
        <td>
            @Html.ActionLink("Actualizar", "Actualizar_Cuenta", new { id=item.num_cta }) |
            @Html.ActionLink("Details", "Details", new { id=item.num_cta }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.num_cta })
        </td>
    </tr>
}

</table>
