@model IEnumerable<AppMVC_Neptuno.Models.pa_listar_clientes_Result>

@{
    ViewBag.Title = "Listar_Clientes_SP";
}

<h2>Listar_Clientes_SP</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreCompañia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pais)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreCompañia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pais)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdCliente }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdCliente }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdCliente })
        </td>
    </tr>
}

</table>
