@using PagedList;
@using PagedList.Mvc;

@model IPagedList<ProyectoEC3ManuelCabos.Models.sp_buscar_peliculas_Result>

@{
    ViewBag.Title = "Buscar Películas";
    WebGrid grid = new WebGrid(Model, rowsPerPage: 5, canPage: true, canSort: true);
}

<h2>Buscar Películas</h2>

@using (Html.BeginForm())
{
    <div class="row">
        Género: @Html.DropDownList("cod_gen", (SelectList)ViewBag.vbGeneros, "Seleccione")
        <input type="submit" name="btnGen" value="Consultar Género" class="btn btn-info" />
    </div>
}

<br />

@using (Html.BeginForm())
{
    <div class="row">
        Año: <input type="text" name="año" value="@ViewBag.vbAño"/>
        <input type="submit" name="btnAño" value="Consultar Año" class="btn btn-info" />
    </div>
}
<p style="text-align:right">
    @Html.ActionLink("Ver Carrito", "ver_carrito",null, new { @class = "btn btn-warning" })
</p>

<table class="table">
    <tr>
        <th>Imagen</th>
        <th>Nombre de la película</th>
        <th>Género</th>
        <th>Año</th>
        <th>Acciones</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="@Url.Content("~/imagenes/"+ item.cod_pel +".jpg")" style="width:130px;height:160px;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nom_pel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.año)
            </td>
            <td>
                @Html.ActionLink("Seleccionar", "seleccionar_pelicula",new { cod = item.cod_pel})
            </td>
        </tr>
        }

</table>

<div class="pagedList">
    @Html.PagedListPager(Model, nPag => Url.Action("buscar_peliculas",
          new { cod_gen = ViewBag.vbCodGen, año = ViewBag.vbAño, nPag }),
    PagedListRenderOptions.ClassicPlusFirstAndLast)
</div>
