@using PagedList;
@using PagedList.Mvc;

@model IPagedList<EC2_ManuelCabos.Models.sp_medico_anio_Result>

@{
    ViewBag.Title = "medico_anio_sp";
    WebGrid grid = new WebGrid(Model, rowsPerPage: 4, canPage: true, canSort: true);
}

<h2>Listar médicos por año</h2>

@using (Html.BeginForm())
{
    <div>
        Seleccione un Médico: @Html.DropDownList("codmed", (SelectList)ViewBag.medicos,"Seleccione",new { @class = "form-control" })
        Ingrese un año: <input type="text" name="anio" class="form-control"/>
        <input type="submit" value="Consultar" class="btn btn-info">
        <br />
    </div>
}

<table class="table">
    <tr>
        <th>N° Cita</th>
        <th>Fecha de cita</th>
        <th>Nombre del paciente</th>
        <th>Acciones</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.nrocita</td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nompac)
            </td>
            <td>
                @Html.ActionLink("Detalles", "detalle_cita_sp", new { ncita = item.nrocita })
            </td>
        </tr>
    }

</table>

<div class="pagedList">
    @Html.PagedListPager(Model,nPag => Url.Action("medico_anio_sp",
         new { codmed = ViewBag.codmed, anio= ViewBag.anio, nPag }),
    PagedListRenderOptions.ClassicPlusFirstAndLast)
</div>
